.button {
  background-color: #FFCE22;
  border: 0;
  border-radius: 4px;
  font-family: "Montserrat";
  height: 40px;
  margin-top: 21px;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #FFD84D;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 8px 22px;
}

.checkbox-container-single {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 22px;
}

.custom-checkbox {
  padding: 10px 10px 8px 22px;
}

.custom-checkbox .checkmark {
  background-color: #ffffff;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  display: inline-block;
  height: 23px;
  opacity: 0.5;
  position: relative;
  transition: opacity 0.2s;
  vertical-align: middle;
  width: 23px;
}

.custom-checkbox .checkmark::after {
  content: "";
  display: none;
  position: absolute;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox input:checked+.checkmark {
  background-color: #2469F6;
  border: 1px transparent;
  opacity: 1;
}

.custom-checkbox input:checked+.checkmark::after {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: block;
  height: 12px;
  left: 7.5px;
  top: 2px;
  transform: rotate(45deg);
  width: 6px;
}

.custom-checkbox input:checked:hover+.checkmark {
  background-color: #5087F8;
  border: 1px transparent;
}

.custom-checkbox input[type="checkbox"]:not(:checked):hover+.checkmark::after {
  border: solid #E3E3E3;
  border-width: 0 2px 2px 0;
  display: block;
  height: 12px;
  left: 7.5px;
  top: 2px;
  transform: rotate(45deg);
  width: 6px;
}

.divider {
  background-color: #CDCDCD;
  border: none;
  height: 0.7px;
  margin: 0px 15px;
  opacity: 0.5;
}

p {
  color: #1F2128;
  font-family: Montserrat;
  font-size: 14px;
}

.scollable {
  height: 180px;
  overflow: scroll;
  scrollbar-width: none;
}

.wrapper {
  background-color: white;
  border: 1px #EEEEEE;
  border-radius: 6px;
  box-shadow: 0px 0px 15px #1414141F;
  height: 326px;
  margin: auto;
  margin-top: 85px;
  width: 370px;
}